@model MvcProject1.Models.Author

@{
    ViewData["Title"] = "Yazar Detayı";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_AuthorDetails", Model)

<a href="@Url.Action("List", "Author")" class="btn btn-secondary mt-3">Geri</a>
